body {
  background-color: #e5e5e5;
}

.section-1 {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
}

.section-2 {
  background-color: #e5e5e5;
  padding-top: 2em;
  padding-bottom: 2em;
}

.navigation-bar {
  background-color: #354955;
  height: 50px;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #ffffff;
}

.hero {
  background-color: #1f2428;
  min-height: 70vh;
  color: #fff;
}

#profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-content {
  width: 800px;
  margin: 0 auto;
  padding-top: 1em;
}

.hero-content-intro {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.intro-name {
  font-size: 82px;
  font-weight: 500;
}

.description {
  font-size: 40px;
  text-align: center;
}

.slogan {
  font-size: 20px;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
}

.hero-contacts-info-wrapper {
  width: max-content;
  margin-left: 0.5em;
}

.hero-contacts-wrapper {
  width: max-content;
  margin-right: 0.5em;
}

.hero-contact {
  display: inline-block;
  background: #b0b7bf;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}

.social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  border-radius: 50%;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.social a:hover {
  background: none;
}

.social a .svg-inline--fa {
  font-size: 20px;
  margin-top: 8px;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.project-column {
}

.project-column:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.project-thumbnail {
  width: 100%;
  height: 200px;
}

.project-body {
  background-color: #fff;
  padding: 0.5em;
}

.project-title {
  text-decoration: none;
  color: #212529;
}

.skills-container {
  width: 600px;
  margin: 0 auto;
  padding: 0.5em;
}

h3,
h4 {
  font-weight: 600;
}

.skill-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.skill-wrapper h5 {
  font-weight: 600;
}

.skill-logo {
  width: 60px;
}

.other-skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.skill-tag {
  background-color: #c4e7f2;
  width: fit-content;
  padding: 3px 20px;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .hero-content-intro {
    flex-direction: column;
  }

  .projects-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .hero-content {
    width: 100%;
  }

  .hero-contacts-wrapper {
    margin: 0 auto;
  }

  .hero-contacts-info-wrapper {
    margin: 0 auto;
  }
  .main {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .skills-container {
    width: 100%;
  }

  .hero-contacts-info-wrapper {
    margin: 0 auto;
  }

  .hero-contacts-wrapper {
    margin: 1em auto;
  }
  .main {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .skill-wrapper {
    flex-direction: column;
  }

  .hero-contacts-info-wrapper {
    margin: 0 auto;
  }

  .main {
    flex-direction: column;
  }
}
